*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}


body{

    background-color: black;
    color: white;
}
.header{

    width:100%;
    height:100vh;
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(images/header-image.png);
    background-size: cover;
    background-position:center;
    padding: 10px;
    padding-left:8%;
}
.logo{

    
    width: 150px;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
   
}
nav button{

    border: 0;
    outline: 0;
    background: red;
    color: #fff;
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.languagebutton{

    display: inline-flex;
    align-items: center;


    background-color: transparent;
    border: 1px solid;
    border-color: #fff;
    padding: 7px 10px;
   
}
.languagebutton img{

    width: 10px;
    margin-left: 10px;
}
.headercontent{

    position: absolute; 
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
 
    

}
.headercontent h1{

    font-size: 60px;
    line-height: 70px;
    font-weight: 600 ;
    max-width: 650px;
}
.headercontent h2{

    font-weight: 400px;

}
.email{
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email button{
    background: #db0001;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
    
}
/*--------------features section-------------*/

.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
 
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

/*------------------FAsk--------------*/
.FAsk{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;

}
.FAsk h2{
    font-weight: 500;
    font-size: 40px;
}

.lisques{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.lisques li{
    list-style: none;
    width: 100%;
    padding: 5px;

}
.lisques li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background:#303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
   

}
input[type="radio"]{
    display: none;
}
.lisques .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}

.lisques input[type="radio"]:checked +label +.content{
    max-height: 600px;
    padding: 30px 20px;
}

.FAsk .email{
    max-width: 600px;
    margin: 20px auto 60px;
    

}

.FAsk small{
    font-size: 13px;
}

/*-------------footer---------*/

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
    
 
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin:bottom 20px;
 
   

}
.footer .col a{ 
    display: block;
    text-decoration:none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    
}
.footer .languagebutton{

    color: #fff;
    padding: 10px 20px;
     border-radius:3px ;

}
.copyrighttxt{

    font-size:  0.875rem;
    margin-top: 20px;
    margin-bottom: 10px;

}

/*---------------------media qurires-----*/
@media  only screen and(max-width:600px)
{
    .logo{
        width: 100px;
    }
    .languagebutton{

        padding: 5px 10px;
    }
    .headercontent{
        position: unset;
        transform: none;
        padding: 150px;

    }
    .headercontent h1{
        font-size: 30px;
    }
    .email{
        font-size: 12px;
        padding: 10px 15px;
    }
}
